@import "../../styles/base";

.chatAnswer {
    width: 47rem;
    padding: 2rem 0 10rem 0;

    @media screen and (max-width: 1280px) {
      width: 40rem;
    }
    @media screen and (max-width: 1050px) {
      width: 32rem;
    }
    @media screen and (max-width: 590px) {
      width: 25rem;
    }
    @media screen and (max-width: 480px) {
      width: 22.5rem;
    }
}