@import "./base";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}

body {
    ::-webkit-scrollbar {
        @include bgColors("lightgrey");
    }
    ::-webkit-scrollbar-track {
        @include bgColors("lightgrey");
        border-radius: 1.2rem;
    }
    ::-webkit-scrollbar-thumb {
        @include bgColors("mediumgrey");
        border-radius: 1.2rem;
    }

    @media screen and (max-width: 890px) {
        ::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    button {
        padding: .5rem 0;
        font-size: 1rem;
        border: none;
        @include textColors("white");
        @include bgColors("green");
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
        &:disabled {
            cursor: not-allowed;
            &:hover {
                opacity: 1;
            }
        }
    }

    input {
        padding: .4rem .5rem;
        font-size: 1rem;
        border: 1px solid #939393;
        &:focus {
            outline: none;
        }
    }
}