@import "./base";

.main {
  @include bgColors("green");
  width: 100vw;
  height: 100vh;
}

.container {
  @include bgColors("lightgrey");
  width: 97vw;
  height: 94vh;
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.249);
  overflow: hidden;

  aside {
    @include bgColors("white");
    width: 20%;
    padding: 1.5rem;

    h2 {
      font-size: 1rem;
      line-height: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: .3rem;

      div {
        display: flex;
        align-items: center;
        gap: .4rem;
      }
    }
  }

  section {
    width: 80%;
    height: 100%;

    img {
      width: 10rem;
      height: 5rem;
      display: block;
      margin: 40vh auto;
    }
  }
}

.chatAnswer {
  height: 95%;
  padding: 2rem 15rem 10rem 15rem;
  overflow-y: auto;
}

.chatInput {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 80%;
  height: 13rem;
  padding: 1rem 0 3rem 0;
  
  form {
    display: flex;
    @include bgColors("white");
    width: 70%;
    min-height: 3.2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.121);
    border-radius: .7rem;
    border: 1px solid rgb(201, 201, 201);
    
    textarea:focus {
      outline: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: .7rem;
      width: 10%;
      @include bgColors("white");
      @include textColors("green");
      cursor: pointer;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    button:disabled {
      @include textColors("lightgrey");
      @include bgColors("white");
      cursor: context-menu;
    }
  }
}

.resizable-textarea {
  resize: none;
  overflow-y: auto;
  height: 3.2rem;
  max-height: 13rem;
  width: 100%;

  border: none;
  border-radius: .7rem;

  @include bgColors("white");
  font-size: 1rem;
  padding: .7rem;
}
