@import "./base";

.main {
  @include bgColors("green");
  width: 100vw;
  height: 100vh;
}

.container {
  @include bgColors("lightgrey");
  width: 97vw;
  height: 94vh;
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.249);

  aside {
    @include bgColors("white");
    width: 20%;
    padding: 1.5rem;

    h2 {
      font-size: 1rem;
      line-height: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: .3rem;

      div {
        display: flex;
        align-items: center;
        gap: .4rem;
      }
    }
  }

  section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 10rem;
      height: 5rem;
    }
  }
}
