@import "../../styles/base";

.main {
  @include bgColors("green");
  width: 100vw;
  height: 100vh;
}

.container {
  @include bgColors("lightgrey");
  width: 97vw;
  height: 94vh;
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.249);
  overflow: hidden;

  @media screen and (max-width: 890px) {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
  }

  aside {
    @include bgColors("white");
    width: 19rem;
    padding: 1.5rem;

    @media screen and (max-width: 890px) {
      width: 100vw;
    }

    svg {
      width: 2rem;
      height: 2rem;
      @include textColors("green");
      &:hover {
        cursor: pointer;
        opacity: .8;
      }

      @media screen and (max-width: 890px) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    h2 {
      font-size: 1rem;
      margin-bottom: .5rem;
      @media screen and (max-width: 890px) {
        text-align: center;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: .3rem;

      span {
        display: flex;
        align-items: center;
        gap: .4rem;
      }

      @media screen and (max-width: 890px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .languages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .4rem;
      margin-top: .5rem;
  
      input {
        width: 12rem;
        padding: .1rem .5rem;

        @media screen and (max-width: 890px) {
          width: 10rem;
          font-size: .9rem;
        }
      }

      @media screen and (max-width: 890px) {
        flex-direction: row;
      }
    }
  }

  section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    img {
      width: 10rem;
      height: 5rem;
      display: block;
      margin: 40vh auto;
    }

    .chatAnswer {
      height: 100%;
      width: 45rem;
      margin: 2rem 0 12rem 0;

      @media screen and (max-width: 1280px) {
        width: 40rem;
        margin: 2rem 0 20rem 0;
      }
      @media screen and (max-width: 1050px) {
        width: 32rem;
      }
      @media screen and (max-width: 880px) {
        margin: 2rem 0 40vh 0;
      }
      @media screen and (max-width: 590px) {
        width: 25rem;
        margin: 2rem 0 50rem 0;
      }
      @media screen and (max-width: 480px) {
        width: 20rem;
        margin: 2rem 0 75rem 0;
      }
    }

    .chatInput {
      background-color: transparent;
      position: absolute;
      bottom: 0;
      right: 0;
    
      display: flex;
      justify-content: center;
      align-items: flex-end;
    
      width: 100%;
      height: 13rem;
      padding: 1rem 0 2rem 0;
      
      form {
        display: flex;
        @include bgColors("white");
        width: 52rem;
        margin-left: 15rem;
        min-height: 3.2rem;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.121);
        border-radius: .7rem;
        border: 1px solid rgb(201, 201, 201);

        @media screen and (max-width: 1280px) {
          width: 45rem;
        }
        @media screen and (max-width: 1050px) {
          width: 35rem;
        }
        @media screen and (max-width: 890px) {
          margin-left: 0;
          width: 90vw;
        }
        
        .resizable-textarea {
          resize: none;
          overflow-y: auto;
          height: 3.2rem;
          max-height: 13rem;
          width: 100%;
        
          border: none;
          border-radius: .7rem;
        
          @include bgColors("white");
          font-size: 1rem;
          padding: .7rem;
        }

        .resizable-textarea::-webkit-scrollbar {
          width: .5rem;
        }

        textarea:focus {
          outline: none;
        }
    
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: .7rem;
          width: 10%;
          @include bgColors("white");
          @include textColors("green");
          cursor: pointer;
    
          svg {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
    
        button:disabled {
          @include textColors("lightgrey");
          @include bgColors("white");
          cursor: context-menu;
        }
      }
    }
  }

  section::-webkit-scrollbar {
    width: .75rem;
  }
}
